.header{
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.btn{
  align-items: center;
  justify-content: center;
  flex;
  background-color: red;
  color: blue;
  width: 100px;
  height: 50px;
  font-size: 20px;

}

.btn:hover{
  cursor: pointer;
  background-color: yellow;
  color:black;
}
